<div class="form-wrapper">

  <div class="form-header">
    <h2><%= t 'users.form.edit' %></h2>
  </div>

  <% if can? :update, resource %>
      <div class="form-content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: 'form-default'}) do |f| %>

            <%#= devise_error_messages! %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <div class="form-left">
                <%= f.label t('profil.image') %> :
              </div>
              <div class="form-right">
                <%= f.fields_for :image do |i| %>
                    <%= i.file_field :attachment %>
                <% end %>
              </div>
            </div>

            <div class="field">
              <div class="form-left">
                <%= f.label t('profil.banner') %> :
              </div>
              <div class="form-right">
                <%= f.fields_for :banner do |b| %>
                    <%= b.file_field :attachment %>
                <% end %>
              </div>
            </div>

            <div class="field">
              <div class="form-left">
                <%= f.label t('firstname') %> :
              </div>
              <div class="form-right">
                <%= f.text_field :firstname %>
              </div>
            </div>

            <div class="field">
              <div class="form-left">
                <%= f.label t('lastname') %> :
              </div>
              <div class="form-right">
                <%= f.text_field :lastname %>
              </div>
            </div>

            <div class="field">
              <div class="form-left">
                <%= f.label t('profil.bio') %> :
              </div>
              <div class="form-right">
                <%= f.text_area :bio %>
              </div>
            </div>

            <div style="clear: both"></div>

            <div class="field">
              <div class="form-left">
                <%= f.label t('password') %> : <br/><span class="legend">(<%= t('password_leave_blank') %>
                )</span>
              </div>
              <div class="form-right">
                <%= f.password_field :password, autocomplete: 'off' %>
              </div>
            </div>

            <div style="clear: both"></div>

            <div class="field">
              <div class="form-left">
                <%= f.label t('password_confirm') %> :
              </div>
              <div class="form-right">
                <%= f.password_field :password_confirmation, autocomplete: 'off' %>
              </div>
            </div>

            <div style="clear: both"></div>

            <div class="field">
              <div class="form-left">
                <%= f.label t('profil.current_password') %> :
                <br/><span class="legend">(<%= t('profil.need_pwd_to_confirm') %>)</span>
              </div>
              <div class="form-right">
                <%= f.password_field :current_password, autocomplete: 'off' %>
              </div>
            </div>

            <div style="clear: both"></div>

            <div class="actions">
              <%= f.submit t('profil.actions.update'), class: 'default-btn' %>
            </div>

        <% end %>
      </div>

      <div class="form-header">
        <h2></h2>
      </div>
      <%= button_to t('profil.cancel_account'), registration_path(resource_name), class: 'button-delete', data: {confirm: t('profil.cancel_confirm')}, method: :delete %>
  <% end %>

</div>
