<div class="form-wrapper">

  <div class="form-header">
    <h2><%= t 'users.form.edit' %></h2>
  </div>

  <% if can? :update, resource %>
      <div class="form-content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-default' }) do |f| %>

            <%= devise_error_messages! %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <div class="form-left">
                <%= f.label t('profil.image') %> :
              </div>
              <div class="form-right">
                <%= f.fields_for :image do |i| %>
                    <%= i.file_field :attachment %>
                <% end %>
              </div>
            </div>

            <div class="field">
              <div class="form-left">
                <%= f.label t('profil.banner') %> :
              </div>
              <div class="form-right">
                <%= f.fields_for :banner do |b| %>
                    <%= b.file_field :attachment %>
                <% end %>
              </div>
            </div>

            <div class="field">
              <div class="form-left">
                <%= f.label t('profil.firstname') %> :
              </div>
              <div class="form-right">
                <%= f.text_field :firstname %>
              </div>
            </div>

            <div class="field">
              <div class="form-left">
                <%= f.label t('profil.lastname') %> :
              </div>
              <div class="form-right">
                <%= f.text_field :lastname %>
              </div>
            </div>

            <div class="field">
              <div class="form-left">
                <%= f.label t('profil.bio') %> :
              </div>
              <div class="form-right">
                <%= f.text_area :bio %>
              </div>
            </div>

            <div class="field">
              <%= f.label t('profil.password') %> <i>(<%= t('profil.password_leave_blank')%>)</i><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label t('profil.password_confirm') %> :<br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label t('profil.current_password') %> <i>(<%= t('profil.need_pwd_to_confirm') %>)</i><br />
              <%= f.password_field :current_password, autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit t('profil.actions.update'), class: 'default-btn' %>
            </div>

        <% end %>
      </div>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  <% end %>

</div>
