<div class="form-wrapper">

  <div class="form-header">
    <h2><%= t 'users.register' %></h2>
  </div>

  <div class="form-content">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-default'}) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <div class="form-left">
          <%= f.label t('email') %> :
        </div>
        <div class="form-right">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>

      <div class="field">
        <div class="form-left">
          <%= f.label t('password') %> :<br>
          <% if @minimum_password_length %>
            <span class="legend">(<%= @minimum_password_length %> <%= t('chars_min') %>)</span>
          <% end %>
        </div>
        <div class="form-right">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>

      <div class="field">
        <div class="form-left">
          <%= f.label t('password_confirm') %> :
        </div>
        <div class="form-right">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="field">
        <div class="form-left">
          <%= f.label t('username') %> :
        </div>
        <div class="form-right">
          <%= f.text_field :username %>
        </div>
      </div>

      <div class="field">
        <div class="form-left">
          <%= f.label t('firstname') %> :
        </div>
        <div class="form-right">
          <%= f.text_field :firstname %>
        </div>
      </div>

      <div class="field">
        <div class="form-left">
          <%= f.label t('lastname') %> :
        </div>
        <div class="form-right">
          <%= f.text_field :lastname %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit t('signup'), class: 'default-btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</div>