<nav class="results">
  <div class="container">
    <%= link_to t('search.users'), search_path(q: params[:q],f: :users) %> | <%= content_tag 'span', t('search.results', count: @posts.count.to_s, for: params[:q]) %>
  </div>
</nav>

<div class="container results-for tweets">

  <% if @posts.empty? %>
      <div class="sub-container-left no-results"><%= t 'search.no_results.tweets' %></div>
  <% else %>
      <div class="sub-container-left">
        <% @posts.each do |p| %>
            <%= render partial: 'shared/post_view', locals: {post: p} %>
        <% end %>
      </div>
  <% end %>

  <div class="sub-container-right">
    <% @users.each do |u| %>
        <%= render partial: 'shared/profil_thumb', locals: {user: u} %>
    <% end %>

    <%= render partial: 'shared/hashtag_box' %>
  </div>

</div>