<div class="user-cover" style="background-image: url('<%= @object.banner.attachment.url() %>')">
  <div class="container">

    <div class="bottom">
      <ul>
        <li><span class="number"><%= @object.posts.count %></span><span class="label"><%= t('user.posts') %></span></li>
        <li><span class="number"><%= @object.following_users_count %></span><span class="label"><%= t('user.follow_count') %></span></li>
        <li><span class="number"><%= @object.followers_count %></span><span class="label"><%= t('user.followers_count') %></span></li>
        <li><span class="number"><%= @object.following_posts_count %></span><span class="label"><%= t('user.liked') %></span></li>
      </ul>
    </div>
  </div>
</div>

<%= @object.email %>

<div class="infinite-scroll">
<% @collection.each do |p| %>
    <%= render partial: 'shared/post_view', locals: { post: p }%>
      <%= link_to_next_page @collection, 'Next page', class: 'infinite-scroll infinite-scroll-item', params: params unless @collection.last_page? %>
<% end %>
</div>
