<header>
  <%= link_to 'bark', posts_path, class: 'title' %>

  <%= render partial: 'shared/search_form' %>

  <nav>
    <% if user_signed_in? %>
      <div class="popup">
        <%= link_to user_path(current_user), class: 'open-popup' do %>
            <%= image_tag current_user.image.attachment.url(:thumb) %>
            <%= t('header.profil') %>
            <% end %>
        <div class="popup-content">
          <%= link_to t('header.edit'), edit_user_registration_path %>
          <%= link_to t('header.logout'), logout_path %>
        </div>
      </div>
    <% else %>
      <%= link_to t('header.login'), login_path %> | <%= link_to t('header.sign_in'), new_user_registration_path %>
    <% end %>
  </nav>
</header>