<div id="post_<%= post.id %>" class="single-post-view infinite-scroll-item <%= 'with-image' if post.image %>" data-hook="single-post-view">
    <%= content_tag :span, post.message, class: 'post-message' %>
    <%= image_tag(post.image.attachment.url(), class: 'post-image') if post.try(:image).try(:attachment) %>
    <%= content_tag :span, t('posts.writted_by', user: post.user.username), class: 'post-user' %>

    <% if user_signed_in? %>
        <div data-hook="post-like">
            <%= form_tag post_like_path(post_id: post.id), remote: true do %>
                <%= submit_tag t('posts.actions.like'), class: ('liked' if current_user.following?(post)) %>
            <% end %>
        </div>
    <% end %>

    <%= render partial: 'shared/retweet_action', locals: {post: post } %>

    <%= render partial: 'shared/comment_form', locals: { post: post } %>

</div>