<% single = (controller_name == 'posts' and action_name == 'show') ? true : false %>
<% image = post.parent ? post.parent.image : post.image %>

<div id="post_<%= post.id %>" class="single-post-view infinite-scroll-item <%= 'with-image' if image %>" data-hook="single-post-view">

  <% if image %>
      <% if single %>
          <div class="image-layout">
            <%= image_tag image.attachment.url(), class: 'post-image' %>
          </div>
      <% else %>
          <a href="<%= post_path(post) %>">
            <div class="image-layout" style="background-image: url('<%= image.attachment.url() %>');"></div>
          </a>
      <% end %>

  <% end %>
  <div class="post-contents">
    <%= image_tag post.user.image.attachment.url(:bigger_thumb), class: 'post-user-image' %>

    <div class="right">
      <div class="post-infos">
        <%= link_to user_path(post.user) do %>
            <span class="post-user"><%= "#{post.user.firstname} #{post.user.lastname}" %></span>
            <span class="post-username"><%= "@#{post.user.username}" %></span>
        <% end %>
        <span class="post-created_at"><%= post.created_at.strftime('%d/%m/%Y') %></span>
        <% if post.parent %>
            <div class="post-retweeted"><%= t 'posts.retweeted_from' %> <%= link_to "@#{post.parent.user.username}", user_path(post.parent.user) %></div>
        <% end %>
        <%= content_tag :div, parse_tweet(post.message), class: 'post-message' %>
      </div>
    </div>
  </div>
  <div class="post-side">
    <div class="like-button">
      <% if user_signed_in? %>
          <%= form_tag post_like_path(post_id: post.id), remote: true, class: ['like-form', ('active' if current_user.following?(post))] do %>
              <%= content_tag :span, post.followers_count %>
              <%= image_submit_tag 'like_pink.png', class: 'unlike-button' %>
              <%= image_submit_tag 'like_grey.png', class: 'like-button' %>
          <% end %>
      <% else %>
          <%= content_tag :span, post.followers_count %>
          <%= image_tag 'like_grey.png' %>
      <% end %>
    </div>

    <%= render partial: 'shared/retweet_action', locals: {post: post} %>

  </div>

  <% if can? :destroy, post %>
      <div class="delete-post">
        <%= form_for post, method: :delete, data: {confirm: t('confirm_post_delete')} do %>
            <%= image_submit_tag 'delete_grey.png' %>
        <% end %>
      </div>
  <% end %>

  <%#= render partial: 'shared/comment_form', locals: {post: post}  %>

</div>