<% if user_signed_in? %>
    <div id="new-post-container">
      <% new_post = Post.new(image: Asset::PostImage.new) %>
      <div class="new-post">
        <%= image_tag current_user.image.attachment.url(:bigger_thumb)%>
        <%= form_for new_post do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.text_area :message, required: true %>
            <%= f.fields_for :image do |i| %>
                <%= i.file_field :attachment %>
            <% end %>
            <%= f.submit t('posts.actions.create'), class: 'default-btn' %>
        <% end %>
        <div id="new-post-close">
          <%= inline_svg 'close.svg' %>
        </div>
      </div>
    </div>



    <div id="new-post-button">
      <%= inline_svg 'pen.svg' %>
    </div>

<% end %>